<!DOCTYPE html>
<html lang="en">

<head>
  <title>Single</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content=""/>

  <!--好像也是展示pic用的code-->
  <script type="application/x-javascript">
    addEventListener("load", function() {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <meta charset utf="8">
  <!--fonts-->
  <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

  <!--fonts-->
  <!--bootstrap-->
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <!--coustom css-->
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <!--shop-kart-js-->
  <script src="/js/simpleCart.min.js"></script>
  <!--default-js-->
  <script src="/js/jquery-2.1.4.min.js"></script>
  <!--<script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>-->
  <!--bootstrap-js-->
  <script src="/js/bootstrap.min.js"></script>
  <!--script-->
  <!-- FlexSlider -->
  <script src="/js/imagezoom.js"></script>
  <script defer src="/js/jquery.flexslider.js"></script>
  <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/javascripts/allJSforProduct.js"></script>

  <link href="/css/notice.css" rel="stylesheet" type="text/css">

  <!--pic 展示-->
  <script>
    // Can also be used with $(document).ready()
    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: "slide",
        controlNav: "thumbnails"
      });

      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })

      var price = "<%= productPrice %>"

      $.get("https://api.coinmarketcap.com/v2/ticker/1027/?convert=AUD", function(result){
      //console.log(result)
      var rate = new Number(result.data.quotes.AUD.price).toFixed(2)
      console.log("Extract quotes")
      console.log(rate)
      $("#showproductPrice").attr('title', (rate*price).toFixed(2) + " AUD Current Ratio: " + rate + " AUD")
    })

    });
</script>
</head>

<body>
  <%include header.ejs%>
    <!--2.加search框-->
    <%include searchbar.ejs%>


      <!--3. 导航 start -->
      <div class="head-bread">
        <div class="container">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active"><%=productName%></li>
          </ol>
        </div>
      </div>
      <!--3. 导航 end -->

      <!--4. 展示单个商品-->
      <div class="showcase-grid">
        <div class="container">
          <div class="col-md-8 showcase">
            <div class="flexslider">
              <ul class="slides">
                <li data-thumb="/images/show.jpg">
                  <div class="thumb-image">
                    <img id="showpimgPath" src=<%= imgPath %> data-imagezoom="true" class="img-responsive">
                  </div>
                </li>
              </ul>

              <div class="clearfix"></div>

            </div>
          </div>

          <div class="col-md-4 showcase">
            <div class="showcase-rt-top">
              <div class="pull-left shoe-name">
                <p hidden id="uid"><%=uid%></p>
                
                <a href="/sellerproducts?uid=<%=selleruid%>&sellername=<%=sellername%>"><h4>Seller: <%=sellername%></h4></a>
                <p hidden id="selleruid"><%=selleruid%></p>


                <h3 id="showproductName"><%= productName %></h3>
                <p hidden id="showpid">pid:<%= pid %></p>

                <!--<h4 id="showproductPrice"><span class="glyphicon glyphicon-usd"></span>&#36; <%= productPrice %></h4>-->
                <!--5.10 增加计数器-->

                <h4 id="showproductPrice" title="unknown AUD">
                    <span>
                        <img class="eth" src="/images/eth.png"></img>
                    </span>
                    <%= productPrice %>
                </h4>

                <div class="row pull-right">
                  <div class="form-inline">
                    <td>
                      avaliable : <span id="showProductStock"><%=productStock%></span>
                    </td>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>

            <hr class="featurette-divider">
            <div class="shocase-rt-bot">
              <div class="float-qty-chart">
                <div class="clearfix">

                </div>
              </div>
              <ul>

                <%
                if (uid==selleruid){
                %>

                <li class="ad-2-crt simpleCart_shelfItem">
                  <a class="btn item_add" role="button" onclick="deleteProduct()" > <span class="">&nbsp</span>Delete</a>
                </li>
                <li class="ad-2-crt simpleCart_shelfItem">
                  <a class="btn item_add" role="button" href="/single/edit?pid=<%=pid%>&uid=<%=selleruid%>" > <span class="">&nbsp</span>Edit</a>
                  <!--<a class="btn item_add" role="button" onclick="editProduct()" > <span class="">&nbsp</span>Edit</a>-->
                </li>


                <%
                }else if (uid!=selleruid && parseInt(productStock)>0){
                %>

                <div class="input-group number-spinner" style="margin-top: 20px">
                  <span class="input-group-btn">
                    <button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                  </span>

                  <input id="shownumber" type="text" class="form-control text-center" value="1">

                  <span class="input-group-btn">
                    <button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                  </span>
                </div>

                <script>
                    $(document).on('click', '.number-spinner button', function () {
                        var btn = $(this),
                            oldValue = btn.closest('.number-spinner').find('input').val().trim(),
                            newVal = 0;
                        console.log("oldValue = "+oldValue);


                        var productStock = document.getElementById("showProductStock").innerText;
                        console.log("productStock="+productStock);


                        if (btn.attr('data-dir') == 'up'){
                            newVal = parseInt(oldValue) + 1;
                            if (newVal >= productStock){
                                newVal = productStock;
                            }
                        } else {
                            if (oldValue > 1) {
                                newVal = parseInt(oldValue) - 1;
                            } else {
                                newVal = 1;
                            }
                        }
                        btn.closest('.number-spinner').find('input').val(newVal);
                    });
                </script>


                <li class="ad-2-crt simpleCart_shelfItem">
                  <a class="btn item_add" role="button" onclick="addToCart()" > <span class="glyphicon glyphicon-shopping-cart">&nbsp</span>Add To Cart</a>
                </li>
                <%
                }
                %>
              </ul>
            </div>

          </div>

          <div class="clearfix"></div>
        </div>
      </div>

      <div class="specifications">
        <div class="container">
          <h3>Item Details</h3>
          <div class="detai-tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-pills tab-nike" role="tablist">
              <li role="presentation" class="active"><a href="" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <!--<div role="tabpanel" class="tab-pane active" id="home">-->
              <h4 id="showproductInfo"><%= productInfo %></h4>
            </div>
          </div>
        </div>
      </div>


      <!--5. foot start -->
      <%include footer.ejs%>

</body>

</html>
